<mat-form-field class="searchBar">
    <input matInput placeholder="Search for a customer" value="" (keyup)="keyPressed($event)" [(ngModel)]="value" [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let customer of (displayedCustomers | async)" [value]="option"
            (click)="changeUrl(customer.company_id)">
            {{customer.company_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>