<mat-toolbar class="navbar">
  <img src="../assets/img/N_Pulse_B3_RGB.png" height="64px" width="66px">
  <a mat-button routerLink="customers"> C U S T O M E R S</a>
</mat-toolbar>

<app-search-bar [customers]="customers"></app-search-bar>

<router-outlet></router-outlet>