

#chart {
    height: 100%;
    width: 100%;
  
    .y-axis line {
      stroke: lightgrey !important;
      stroke-opacity: 0.7;
      shape-rendering: crispEdges;
      stroke-width: 1;
    }
    .y-axis {
        text {
            fill: rgba(0, 0, 0, 0.7);
        }
    }
    rect {
        box-shadow: 10px 10px grey;
    }
  
    svg, text {
       shape-rendering: auto;
    }
    .grid line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
      }
      
      .grid path {
        stroke-width: 0;
      }
  
  }
  
//   :host {
//     height: 100%;
//     width: 100%;
//   }
  
  .domain {
      display: none;
  }

