.grid-container{
    margin-top: 96px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    // grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-template-columns: 100%;
    // grid-template-rows: 150px 1fr 1fr 0.75fr;
    grid-auto-rows: minmax(150px, auto) 350px 1fr minmax(250, auto);
    row-gap: 50px;
    column-gap: 50px;
}

.inner-grid-one{
    display: grid;
    grid-row: 1;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fit, 150px);

    .turnover{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .income{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .turnoverMonth{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .incomeMonth{
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.inner-grid-two{
    display: grid;
    grid-row: 2;
    grid-template-columns: 100%;
    grid-template-rows: 35px 350px;
    
    .button-group{
        grid-row: 1
    }

    .barchart{
        // width: 100%;
        // height: 100%;
        .barcharmatcard{
            height: 100%;
            box-sizing: border-box;
        }
    }

}

.inner-grid-three{
    display: grid;
    grid-row: 3;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;

    .trade-history{
        width: 100%;
        height: 100%;
    }
}

.inner-grid-four{
    display: grid;
    grid-row: 4;
    row-gap: 20px;
    column-gap: 20px; 
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-template-rows: repeat(auto-fit, auto);

    .related{
        width: 100%;
        height: 100%;
        tr :hover{
          cursor: pointer;
        }
    }
    .rights{
        width: 100%;
        height: 100%;
    }
    .users{
      width: 100%;
      height: 100%;
    }
}

.mat-button-toggle:hover{
    span{
      opacity: 0.5;
    }
  }
  .mat-button-toggle{
    color: #0000a0;
    span{
      font: 1.66667rem;
      font-size: 1.05rem;
    }
  }
  .mat-button-toggle-checked{
    background-color: #ffffff;
    span{
      opacity: 1;
      border-bottom: 2px solid #0000a0;
    }
  } 
  .mat-button-toggle-checked:hover{
    span{
      opacity: 1;
    }
  } 

  mat-button-toggle-group{
    box-shadow: none !important;
    width: 100%
  }

  .progressBar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }


td{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 9px;
}
tr{
    padding-bottom: 50px;
}
th{
    color: #0000A0;
}
.container{
    height: 100%;
}
mat-card{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.keyfigures{
  font-size: 42px;
  font-style: bold;
}