<div style="text-align: center;">
  <p *ngIf="keyfigures$ | async as keyfigures;" style="margin-top: 50px; font-size: 50px;">{{keyfigures.company_name}}
  </p>
</div>
<div class="grid-container">
  <div class="inner-grid-one">
    <div class="turnover">
      <mat-card>
        <i>TURNOVER</i>
        <br>
        <br>
        <strong class="keyfigures"
          *ngIf="keyfigures$ | async as keyfigures; else loading">€{{formatNumber(keyfigures.turnoverAccumulated)}}</strong>
      </mat-card>
    </div>
    <div class="income">
      <mat-card>
        <i>INCOME</i>
        <br>
        <br>
        <strong class="keyfigures"
          *ngIf="keyfigures$ | async as keyfigures; else loading">€{{formatNumber(keyfigures.incomeAccumulated)}}</strong>
      </mat-card>
    </div>
    <div class="turnoverMonth">
      <mat-card>
        <i>TURNOVER THIS MONTH</i>
        <br>
        <br>
        <strong class="keyfigures"
          *ngIf="keyfigures$ | async as keyfigures; else loading">€{{formatNumber(keyfigures.turnoverMonth)}}</strong>
      </mat-card>
    </div>
    <div class="incomeMonth">
      <mat-card>
        <i>INCOME THIS MONTH</i>
        <br>
        <br>
        <strong class="keyfigures"
          *ngIf="keyfigures$ | async as keyfigures; else loading">€{{formatNumber(keyfigures.incomeMonth)}}</strong>
      </mat-card>
    </div>
  </div>
  <div class="inner-grid-two">
    <div class="button-group">
      <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [disableRipple]="true" (click)="setBarData(true)" checked="true"><span>Income</span>
        </mat-button-toggle>
        <mat-button-toggle [disableRipple]="true" (click)="setBarData(false)"><span>Turnover</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="barchart">
      <mat-card class="barcharmatcard">
        <bkp-bar-chart [data]="barData" *ngIf="barData$ | async as barData; else loading"></bkp-bar-chart>
      </mat-card>
    </div>
  </div>
  <div class="inner-grid-three">
    <div class="trade-history">
      <mat-card>TRADE HISTORY
        <br>
        <br>
        <table style="width:100%">
          <tbody *ngIf="trades$ | async as trades">
            <th>Trade type</th>
            <th>Sold</th>
            <th>Bought</th>
            <th>Rate</th>
            <tr *ngFor="let trade of trades">
              <td>{{trade.type}}</td>
              <td>{{trade.amount_original}} {{trade.currency_original}}</td>
              <td>{{trade.amount_received}} {{trade.currency_received}}</td>
              <td>{{trade.rate}}</td>
              <mat-divider></mat-divider>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
  <div class="inner-grid-four">
    <div class="related">
      <mat-card>
        <strong style="text-align: left; color: #0000A0;">DAUGHTER/RELATED COMPANIES</strong>
        <br>
        <br>
        <table style="width:100%">
          <tbody *ngIf="relatedCompanies$ | async as relatedCompanies">
            <tr *ngFor="let comp of relatedCompanies.daughter_companies" (click)="changeUrl(comp.company_id)">
              <td>{{comp.company_name}}</td>
              <mat-divider></mat-divider>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <div class="rights">
      <mat-card>
        <strong style="text-align: left; color: #0000A0;">RIGHTS</strong>
        <br>
        <br>
        <table style="width:100%">
          <tbody>
            <tr *ngFor="let rights of rights">
              <td>{{rights}}</td>
              <mat-divider></mat-divider>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <div class="users">
      <mat-card>
        <strong style="text-align: left; color: #0000A0;">USERS</strong>
        <br>
        <br>
        <table style="width:100%">
          <tbody>
            <tr *ngFor="let comp of companies">
              <td>{{comp}}</td>
              <mat-divider></mat-divider>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>

  <ng-template #loading>
    <div class="progressBar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>
</div>